@import 'colores';
@import 'mixins';

body {
    background-color: $color-corporativo;
}

header {
    height: 150px;
    background-color: $verde;
    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 20px;
        font-family: sans-serif;
        color: white;

        & span {
            color: red;
        } 
    }
}

$ancho-total: 1960px;
$padding: 40px;

.container {
    width: $ancho-total;
}

article {
    float: left;
    width: 660px / $ancho-total * 100%; // porcentaje
}

aside {
    float: right;
    width: 300px / $ancho-total * 100%; // maths!!!
}

main {
    @if ($ancho-total <= 1280px) {
        padding: $padding;
    } @else {
        padding: $padding / 2;
    }
}

// Alertas varias
.alerta {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: sans-serif;
    margin: 10px;
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 1px white;
}

.exito {
    @extend .alerta;
    border: 1px solid greenyellow;
    background-color: lightgreen;
}

.atencion {
    @extend .alerta;
    border: 1px solid yellowgreen;
    background-color: yellow;
}

.error {
   @extend .alerta;
   border: 1px solid darkred;
   background-color: palevioletred; 
}

p:first-of-type {
    @include margen(30px, 50px);
}

p:last-of-type {
    @include margen(80px, 120px);
}

