$color-fondo: gray;
$rojo: red;

body {
    background-color: $color-fondo;

    & p {
        margin: 0 auto;
        color: $rojo; 
    } 
} 

main {
    display: flex;
    justify-content: center;

    & div {
        background-color: gray;
    }
}