@import 'colores';

body {
    background-color: $color-corporativo;
}

header {
    height: 150px;
    background-color: $verde;
    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 20px;
        font-family: sans-serif;
        color: white;

        & span {
            color: red;
        } 
    }
}

